ul {
  list-style-type: none;
  padding: 0px, 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 10px;
  padding-bottom: 10px;

}
img {
  max-width: 100%; /* Makes image responsive */
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Rounds the corners */
  padding: 5px; /* Adds space between border and image content */
}
