ul {
  list-style-type: none;
  padding: 0px, 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}
#ingredients ul.list-unstyled li {
  font-size: 1.05rem;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-top: 10px;
  padding-bottom: 10px;
}
#cooking ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 25px; /* Тепер без ком, чисто через пробіл */
}

#cooking ol li {
  padding-left: 2px;
  margin-bottom: 4px;
  line-height: 1.3;
  font-size: 1.05rem;
}

img {
  max-width: 100%; /* Makes image responsive */
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Rounds the corners */
  padding: 5px; /* Adds space between border and image content */
}
.recipe-wiki-link {
    color: #fd7e14; /* Гарний помаранчевий колір кулінарії */
    text-decoration: none;
    border-bottom: 1px dashed #fd7e14; /* Пунктирне підкреслення */
    transition: all 0.2s ease-in-out;
}

.recipe-wiki-link:hover {
    color: #b95304;
    border-bottom-style: solid; /* При наведенні стає суцільним */
    background-color: #fff4e6; /* Легке підсвічування фону */
}
