{% extends "base.html" %}

{% block title %}Останні Рецепти{% endblock %}

{% block content %}

<h2 class="mb-4">Рецепти</h2>

<div class="row row-cols-1 row-cols-lg-3 g-4">

    {% for recipe in all_recipes %}

    <div class="col">
        <div id="feed-item-{{recipe.id}}" class="recipe-preview card h-100 shadow-sm p-3">
            <h3 class="fs-4 card-title">{{ recipe.title }}</h3>

            <p class="card-text text-muted">{{ recipe.description }}</p>

            <div class="mt-auto pt-3 border-top d-flex justify-content-between align-items-end">

                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="icon-link">
                    Читати повністю
                    <img src="{{ url_for('static', filename='images/book.svg') }}" alt="book" height="20">
                </a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% if pagination.pages > 1 %}
<nav aria-label="Pagination" class="mt-5">
    <ul class="pagination justify-content-center">

        {# Кнопка "Попередня" #}
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a class="page-link"
               href="{{ url_for('index', page=pagination.prev_num) if pagination.has_prev else '#' }}">
                Попередня
            </a>
        </li>

        {# Посилання на сторінки (1, 2, 3...) #}
        {% for p in pagination.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
        {% if p %}
        <li class="page-item {% if p == pagination.page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('index', page=p) }}">{{ p }}</a>
        </li>
        {% else %}
        {# Еліпсис (...) для пропущених сторінок #}
        <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        {% endfor %}

        {# Кнопка "Наступна" #}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a class="page-link"
               href="{{ url_for('index', page=pagination.next_num) if pagination.has_next else '#' }}">
                Наступна
            </a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}