{% extends "base.html" %}

{% block title %}{{ recipe.title }} - Рецепт{% endblock %}

{% block content %}

<div class="row align-items-start">
    <div class="col-12">
        <div class="mb-3 mb-lg-0 text-center text-lg-start">
            <h1 id="title" class="display-3 lh-1 mb-2">{{recipe.title}}</h1>
            <p id="title-desc" class="lead fw-normal text-muted mb-3">{{ recipe.description |
                link_recipes | safe if recipe.description else '' }}</p>
        </div>
    </div>
</div>

<div class="row g-4 py-3">
    <div class="col-12 category-info mb-4">
        <h5 class="text-muted">Категорії:</h5>
        {% if recipe.categories %}
        {% for category in recipe.categories %}
        <a href="{{ url_for('index') }}?category_id={{ category.id }}" class="badge bg-secondary text-decoration-none">
            {{ category.name }} </a>
        {% endfor %}
        {% else %}
        <span class="badge bg-warning text-dark">Категорії не вказано.</span>
        {% endif %}
    </div>

    {% if recipe.tips %}
    <div id="tips" class="col-lg-12">
        <h4 class="h4 border-bottom pb-2">
            <img src="/static/images/lightbulb.svg" alt="book" height="20">
            Поради:
        </h4>
        <ul>
            {% for tip in recipe.tips %}
            <li>{{ tip.text | link_recipes | safe }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div id="ingredients" class="col-lg-4">
        <h3 class="h4 border-bottom pb-2">
            <img src="/static/images/cart4.svg" alt="book" height="20">
            Інгредієнти:
        </h3>
        {% if recipe.ingredients %}
        <ul class="list-unstyled">
            {% for ri in recipe.ingredients %}
            <li>
                {% if ri.amount %} {{ ri.amount }}{% endif %} {{ ri.name }}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-danger">На жаль, список інгредієнтів відсутній.</p>
        {% endif %}
    </div>

    <div id="cooking" class="col-lg-8">
        <h3 class="h4 border-bottom pb-2">
            <img src="/static/images/fork-knife.svg" alt="book" height="20">
            Приготування:
        </h3>
        {% if recipe.instructions %}
        <ol>
            {% for step in recipe.instructions %}
            {{ step.text | link_recipes | safe }}
            {% endfor %}
        </ol>
        {% else %}
        <p class="text-danger">Інструкція приготування відсутня.</p>
        {% endif %}
    </div>

</div>

{% endblock %}